<?xml version="1.0" encoding="UTF-8"?>
<widget id="A0000000000000" version="0.0.1">
  <name>cloudspace</name>
  <content src=""/>
  <access origin="*"/>
  <preference name="smartUpdate" value="false"/>
  <preference name="statusBarAppearance" value="true" />
  <preference name="debug" value="true"/>
  <preference name="can_load_x5" value="true"/>
  <preference name="checkSslTrusted" value="false" />
</widget>